{% import "util.html" as util %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" href="/vendor/helper-css/css/margin.css">
  <link rel="stylesheet" href="/vendor/helper-css/css/padding.css">
  <link rel="stylesheet" href="/vendor/bulma/css/bulma.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css"/>

  <!-- Vendor Javascript -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/riot/riot+compiler.min.js"></script>
  <script src="/public/js/webstore.js"></script>

  <!-- Custom Stylesheets -->
  <link rel='stylesheet' href='/public/css/style.css'/>

  {% block head %}
  <title>{{ title }}</title>
  {% endblock head %}
</head>
<body>

{% block nav %}
<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/public/images/reemail-logo-3.png" alt="{{ ProjectName }}: A Webmail client for today's times!">
    </a>
    <!-- Hamburger menu for small screens -->
    <div class="navbar-burger burger" data-target="navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        {{ ProjectName }}
      </a>
      {% if user and user.username %}
      <a class="navbar-item" href="/users">
        Local Directory
      </a>
      <a class="navbar-item" href="/mail">
        Web Mail
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{ user.username }}
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/users/change-password">
            Change Password
          </a>
          <a class="navbar-item" href="/users/logout">
            Logout
          </a>
        </div>
      </div>
      {% else %}
      <a class="navbar-item" href="/users/login">
        Login
      </a>
      {%endif%}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-link" data-social-network="Twitter" data-social-action="tweet" target="_blank" href="https://twitter.com/rudedog9d">
              <span class="icon">
                <!-- use fa and fab to work with FA <5 and v5 -->
                <i class="fa fab fa-twitter"></i>
              </span>
              <span>
                Tweet the Creator!
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock nav %}

{% block _app %}
  <div id="app">
    <div class="container">
      {% block content %}
        <h1 class='title'>Hello, World!</h1>
      {% endblock content %}
    </div>
  </div>
{% endblock _app %}
</body>

<footer>
  {% block footer %}
  {% endblock footer %}
  <script>
    {{util.setvar("WebStore.User", user)}}
  </script>
</footer>

</html>
