.content-center {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  color: #00B7FF;
}

.card-title {
  opacity: 0.85;
  width: 100%
}

.p-0 {
  padding: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.h-1 {
  font-size: xx-large;
  font-weight: bold;
}

.h-2 {
  font-size: x-large;
  font-weight: bold;
}

.h-3 {
  font-size: large;
  font-weight: bold;
}

.h-4 {
  font-size: medium;
  font-weight: bold;
}

.h-5 {
  font-size: small;
  font-weight: bold;
}
/* Styling to make cards flow together, top-to-bottom */
/* Credits to this Anonymous Hero: https://codepen.io/anon/pen/xPbbYm */
.cards-container {
  column-break-inside: avoid;
}

.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}