{% extends "layout.html" %}

{% block head %}

{{ super() }}

{% endblock head %}


{% block content %}

<div class="valign-wrapper" style="height: calc(100vh - 64px); overflow: hidden">
  <div class="row" style="height: 100%;">
    <div class="col" style="padding-top: 2em; min-width: 200px">
      <ul class="collection">
        <li class="collection-item">
          Credits
          <span class="secondary-content" id="credits">{{user.credits}}</span>
        </li>
        <li class="collection-item yellow darken-2">
          Golden Credits
          <span class="secondary-content">{{user.golden_credits}}</span>
        </li>
      </ul>
    </div>
    <div class="col" style="height: 100%;">
      <img src="/images/cookie.png" onclick="WebStore.cookieClicked()" style="height: 100%;">
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock footer %}