{% extends "layout.html" %}

{% block head %}

<!-- Custom Stylesheets -->
<link rel='stylesheet' href='/css/style.css'/>
<link rel="stylesheet" type="text/css" href="/css/login.css">

<title>Change Password - {{ ProjectName }}</title>
<script type="riot/tag" src="/tags/change-password.tag.html"></script>

{% endblock head %}

{% block content %}

<change-password></change-password>

{% endblock %}

{% block footer %}

<script>
  $(document).ready(function () {
    riot.mount('*')
  });
</script>

{% endblock footer %}


</html>