{% extends "layout.html" %}

{% block head %}

<!-- Custom Stylesheets -->
<link rel='stylesheet' href='/css/style.css'/>
<link rel="stylesheet" type="text/css" href="/css/login.css">

<title>Change Password - {{ ProjectName }}</title>
<script type="riot/tag" src="/tags/change-password.tag.html"></script>

{% endblock head %}

{% block content %}

<change-password></change-password>

{% endblock %}


{% block footer %}

<script>
  function validateForm() {
    // var user = username;
    var p1 = document.forms["change-password"]["pass1"].value;
    var p2 = document.forms["change-password"]["pass2"].value;
    if ( p1 !== p2 ) {
      alert("Yo passwords dont match!")
      return false
    }
    else if ( /[^a-zA-Z0-9]/.test(p1) ) {
      alert("password is not alphanumeric!")
      return false
    }
  }
  $(document).ready(function () {
    riot.mount('*')
  });
</script>

{% endblock footer %}


</html>