{% extends "layout.html" %}

{% block head %}

<!-- Custom Stylesheets -->
<link rel='stylesheet' href='/css/style.css'/>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

<!-- Bulma Version 0.6.0 -->
<link rel="stylesheet" type="text/css" href="/vendor/bulma/css/bulma.css">
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">

<title>Change Password - {{ ProjectName }}</title>

{% endblock head %}

{% block content %}

<body>
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Reset Password</h3>
        <p class="subtitle has-text-grey">Easy as 1 2 3!</p>
        <div class="box">
          <figure class="avatar">
            <img src="/images/change.png">
          </figure>
          <form>
            <div class="field">
              <div class="control">
                <!--<input class="input is-large" type="email" placeholder="Your Email" autofocus="">-->
              </div>
            </div>

            <div class="field">
              <div class="control">
                <!--<input class="input is-large" type="password" placeholder="Your Password">-->
              </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Change it!</button>
          </form>
        </div>
        <p class="has-text-grey">
          <!--<a href="../">Sign Up</a> &nbsp;·&nbsp;-->
          <!--<a href="../">Forgot Password</a> &nbsp;·&nbsp;-->
          <a href="{{user.username}}">Changed my mind..</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!--// this is next to change-->
<!--<script async type="text/javascript" src="../js/bulma.js"></script>-->



{% endblock %}


{% block footer %}


{% endblock footer %}


</html>