{% extends "layout.html" %}

{% block head %}

<!-- Custom Stylesheets -->
<link rel='stylesheet' href='/css/style.css'/>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

<!-- Bulma Version 0.6.0 -->
<link rel="stylesheet" type="text/css" href="/vendor/bulma/css/bulma.css">
<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">

<title>Change Password - {{ ProjectName }}</title>
<script type="riot/tag" src="/tags/change-password.tag.html"></script>

{% endblock head %}

{% block content %}

<change-password></change-password>

{% endblock %}


{% block footer %}

<script>
  $(document).ready(function () {
    riot.mount('*')
  });
</script>

{% endblock footer %}


</html>