{% extends "layout.html" %}

{% block head %}

<title>{{ user.username }} - {{ ProjectName }}</title>

{% endblock head %}

{% block content %}

<div class="row valign-wrapper">
  <div class="col s6">
    <span class="h-1">Welcome back, {{ user.username }}!</span>
  </div>
  <div class="col s3"></div>
  <div class="col s3">
    <ul class="collection">
      <li class="collection-item">
        Credits
        <span class="secondary-content">{{user.credits}}</span>
      </li>
      <li class="collection-item yellow darken-2">
        Golden Credits
        <span class="secondary-content">{{user.golden_credits}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        Todo: list of avatars
        <!--Todo: list of avatars-->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

<script>
  $(document).ready(function () {
//    riot.mount('*')
  });
</script>

{% endblock footer %}