{% extends "layout.html" %}

{% block head %}

<title>Login - {{ ProjectName }}</title>

{% endblock head %}


{% block content %}

<h1>{{ 'New User Registration' if register else 'Existing User Login' }}</h1>

{% if error and error.length %}
<ul class="collection">
  <li id="error" class="collection-item red lighten-1">{{ error }}</li>
</ul>
{% endif %}

<form action="{{ '/users/register' if register else '/users/login' }}" method="post">
  <input name="username" placeholder="Username" type="text" required autofocus>
  <input name="password" placeholder="password" type="password" required>
  <button class="btn btn-flat" type="submit">{{ 'Register' if register else 'Login' }}</button>
</form>

{% endblock %}

{% block footer %}

<script>
  $(document).ready(function () {
//    riot.mount('*')
  });
</script>

{% endblock footer %}