{% extends "layout.html" %}

{% block head %}

{{ super() }}

<script type="riot/tag" src="/tags/golden-item.tag.html"></script>
<script type="riot/tag" src="/tags/golden-store-list.tag.html"></script>
<script type="riot/tag" src="/tags/item-card.tag.html"></script>
<script type="riot/tag" src="/tags/item-golden-modal.tag.html"></script>

{% endblock head %}


{% block content %}
  <div id="title" class="headers">
    <h2>
      Golden Store Items for Sale
    </h2>
    <p class="flow-text">
      Use Golden Credits to earn awesome prizes!
    </p>


   <!-- <a class="waves-effect waves-light btn">Buy the thing</a> -->
  </div>
  <golden-store-list></golden-store-list>

  <!--<ul class="collection" each="{items}">-->
    <!--<li class="collection-item avatar">-->
      <!--<img src="{}imgSrc" alt="" class="circle">-->
      <!--<spqan class="flow-text">Flag.txt</spqan>-->
      <!--<p>Description: A flag, nimbus! <br>-->
        <!--Golden Credits needed: 20-->
      <!--</p>-->
      <!--<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Buy</a>-->
    <!--</li>-->
  <!--</ul>-->



    <!-- Modal Trigger -->
    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
    <!--<button data-target="modal1" class="btn modal-trigger">Modal</button>-->

    <!-- Modal Structure -->




<!-- <golden-store-list></golden-store-list> -->

{% endblock %}

{% block footer %}

  <script>
    function onPurchase() {
      console.log('purchase!');
    }

    $(document).ready(function () {
        riot.mount('*')
        $('.modal').modal();
    });
  </script>

{% endblock footer %}